<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A1</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B2</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B3</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/katalog/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B4.1-16</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/katalog/themenbereich/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B5.1-n</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/katalog/fragenbereich/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B6.1-n</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/fragen/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>B7</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/lernen_&lt;klassen_id&gt;/markierte_fragen/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C2</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C3.1-30</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/fragen/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C4</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/ergebnis/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C5</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/zusammenfassung&lt;klassen_id&gt;/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C6</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/archiv/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>C7</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/pruefung_&lt;klassen_id&gt;/graph/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>D2</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/einstellungen/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>D3</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/einstellungen/impressum/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>D4</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/einstellungen/klasse/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E2</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E3.1</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/anleitung/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E3.2</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/formelsammlung/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E3.3</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/verkehrszeichen/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E3.4</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/stvo/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
	<key>E3.5</key>
	<string>http://abakus.mobil.freenet.de/cgi-bin/ivw/CP/freenet_mobil/apps/&lt;ui_idiom&gt;/&lt;application&gt;/&lt;versions_nr&gt;/extras/bremswegberechner/index.html?rd=&lt;randomValue&gt;&amp;pt022ref=&lt;Referrer&gt;</string>
</dict>
</plist>
