<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>1024</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>128</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>82</integer>
				<key>totalquestions</key>
				<integer>25</integer>
			</dict>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>66</integer>
				<key>totalquestions</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>2048</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>16384</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>256</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>8192</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>32</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>66</integer>
				<key>totalquestions</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>4096</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>11</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>7</integer>
			<key>MOFA</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>12</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>13</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>512</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>4</integer>
				<key>points</key>
				<integer>32</integer>
				<key>totalquestions</key>
				<integer>8</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Umweltschutz</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>21</integer>
				<key>totalquestions</key>
				<integer>6</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>6</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>15</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>6</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>33</integer>
				<key>totalquestions</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>64</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>99</integer>
				<key>totalquestions</key>
				<integer>30</integer>
			</dict>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Gefahrenlehre</key>
			<dict>
				<key>imagequestions</key>
				<integer>2</integer>
				<key>points</key>
				<integer>16</integer>
				<key>totalquestions</key>
				<integer>4</integer>
			</dict>
			<key>MaxPoints</key>
			<integer>10</integer>
			<key>Verhalten im Straßenverkehr</key>
			<dict>
				<key>imagequestions</key>
				<integer>1</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>3</integer>
			</dict>
			<key>Verkehrszeichen</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>3</integer>
				<key>totalquestions</key>
				<integer>1</integer>
			</dict>
			<key>Vorfahrt, Vorrang</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>10</integer>
				<key>totalquestions</key>
				<integer>2</integer>
			</dict>
			<key>Zusatzstoff</key>
			<dict>
				<key>imagequestions</key>
				<integer>0</integer>
				<key>points</key>
				<integer>89</integer>
				<key>totalquestions</key>
				<integer>27</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
