<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>anleitung</string>
		<key>title</key>
		<string>Anleitung</string>
	</dict>
	<dict>
		<key>image</key>
		<string>formelsammlung</string>
		<key>title</key>
		<string>Formelsammlung</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bremsberechner</string>
		<key>title</key>
		<string>Bremswegberechner</string>
	</dict>
	<dict>
		<key>image</key>
		<string>verkehrszeichen</string>
		<key>title</key>
		<string>Verkehrszeichen</string>
	</dict>
	<dict>
		<key>image</key>
		<string>StVO</string>
		<key>title</key>
		<string>StVO</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_bewerten</string>
		<key>title</key>
		<string>App bewerten</string>
	</dict>
</array>
</plist>
